[submodule "fuzztest-tracegen"]
	path = fuzztest-tracegen
	url = https://github.com/skmuduli92/fuzztest-tracegen.git
[submodule "TraceExamplesCustomCov"]
	path = TraceExamplesCustomCov
	url = https://github.com/skmuduli92/TraceExamplesCustomCov.git
