[submodule "fuzztest-tracegen"]
	path = fuzztest-tracegen
	url = git@github.com:skmuduli92/fuzztest-tracegen.git
[submodule "TraceExamplesCustomCov"]
	path = TraceExamplesCustomCov
	url = git@github.com:skmuduli92/TraceExamplesCustomCov.git
